.modal-content {
    background-color:white(244, 13, 13); 
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
  }

table{
    table-layout: auto;
    font-size: 20px;
    color: #38444d;
    position: center;
    margin-right: auto;
    margin-left: auto;
}
.p{
  color:rgb(244, 13, 13); 
}
button{
    width: 4.5cm;
    height: 44px;
    font-size: large;
    color: antiquewhite;
    background-color: #38444d;
    cursor: pointer;
    background-color:rgb(244, 13, 13); 
    border-color:rgb(244, 13, 13); 
}
input[type=text] {
    transition: width 0.4s ease-in-out;
    height:33px
}